<!-- Conference Section -->
    <section id="conference">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conference</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{"/css/2016_style/img/icon-about.jpeg" | prepend: site.baseurl }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Overview</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">The annual conference of International Council of Educational Media (ICEM) is a meeting place for researchers
and practitioners in the field of educational media and technology enhanced learning. ICEM is one of the oldest
associations in the field, being established by European ministries of education and UNESCO in 1950. The
ICEM 2018 conference will take place at Tallinn University on September 5-7, 2018. The conference
programme will include presentations of research results and best practice, hands-on workshops, poster
session, industry track and school visits.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{"/css/2016_style/img/icon-agenda.jpeg" | prepend: site.baseurl }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Local Organizer</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted"><a href="http://www.tlu.ee/en">Tallinn University</a> is the youngest and most dynamic university in Estonia, focusing its research and study programmes in six domains: educational sciences, social sciences, humanities, natural sciences, digital technology, fine arts and media, sports and health sciences. TLU is the third largest public university in Estonia with 9 000 students and more than 500 academic staff. </p>
                                    <p class="text-muted"><a href="http://htk.tlu.ee/">Centre for Educational Technology</a> (led by Dr. Kairit Tammets) is a R&D unit within the School of Digital Technologies, Tallinn University. CET is the largest research goup in the domain of Technology-Enhanced Learning in the Baltic region, its staff consists of 25 researchers, incl. 5 researchers from abroad: Germany, Austria, Portugal, Spain, Ghana etc. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{"/css/2016_style/img/icon-team.jpeg" | prepend: site.baseurl }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Keynote speakers</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">
                                    <ul>
                                        <li><b>Heli Aru-Chabilan</b>, CEO of <a hre="http://hitsa.ee">HITSA</a> foundation</li>
                                        <li><b>Panagiotis Kampylis</b>, senior researcher at JRC Seville</li>
                                        <li><b>Mark West</b>, associate project officer in the section for Teacher Development and Education Sector at UNESCO</li>
                                    </ul>
                                    </p>
                                </div>
                                <a href="{{"/keynoteSpeakers" | prepend: site.baseurl }}" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{"/css/2016_style/img/icon-venue.jpeg" | prepend: site.baseurl }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Conference Organization</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Conference chairs:</p>
                                    <ul>
                                        <li><b>Dr. Otto Benavides</b>, past president of ICEM, Emeritus Associate Professor of California State University in Fresno</li>
                                        <li><b>Dr. Mart Laanpere</b>, senior researcher at the Centre for Educational Technology, Tallinn University</li>
                                    </ul>
                                    <p class="text-muted">Program chairs: </p>
                                    <ul>
                                        <li><b>Dr. Terje Väljataga</b>, senior resaercher at Centre for Excellence in Educational Innovation, Tallinn University</li>
                                        <li><b>Dr. Eva Dobozy</b>, senior member of the Curtin University teacher education team</li>
                                        <li><b>Dr. Hannah Gerber</b>, Associate Professor in Digital Epistemologies and Literacies in the Dept. of Language, Literacy & Special Populations at Sam Houston State University</li>
                                    </ul>
                                    <p class="text-muted">Industry track chair: Dr. Anita Stangl, CEO of MedienLB Gmbh</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{"/css/2016_style/img/icon-faq.jpeg" | prepend: site.baseurl }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>About ICEM</h4>
                                </div>
                                
                                <p class="text-muted"><a href="http://www.icem.education">ICEM</a> was founded in 1950 with the intent of promoting and developing educational media and its use in a variety of pedagogical fields.
                                Since the very beginning ICEM has strived to advance both pedagogy and technology - from the 16mm films of ago to the digital and interactive content of today.
                                Sixty years on and ICEM continues to fulfil its goals as a non-profit, non-governmental organisation which is highly active and renowned in the field of educational 
                                        media and technology. Its individual and institutional members constitute a unique combination of technology experts, both public and independent commercial media producers, scientists in the field of media pedagogy, school administrators, and even ministries.</p>
                                
                                <!-- div class="timeline-heading">
                                    <p class="text-muted">Learn more about ICEM</p>
                                </div>
                                <a href="{{"/about" | prepend: site.baseurl }}" class="page-scroll btn btn-sm">Learn More</a>
                            </div -->
                        </li>
                        <!--li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/booklet-icon.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Event Booklet</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">View or Download our event booklet</p>
                                </div>
                                <a href="/booklet" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li-->
                    </ul>
                </div>
            </div>
        </div>
    </section>
