    <!-- Conference Section -->
    <section id="conference">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conference</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-about.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Overview</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Read the conference overview</p>
                                </div>
                                <a href="/overview" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-agenda.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Local Organizer</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Check out the Local Organizer</p>
                                </div>
                                <a href="/localOrganizer" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-team.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Keynote speakers</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Find out the keynote speakers</p>
                                </div>
                                <a href="/keynoteSpeakers" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-venue.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Organisation</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Learn more about organisation</p>
                                </div>
                                <a href="/organisation" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-faq.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>About ICEM</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Learn more about ICEM</p>
                                </div>
                                <a href="/about" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <!--li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/booklet-icon.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Event Booklet</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">View or Download our event booklet</p>
                                </div>
                                <a href="/booklet" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li-->
                    </ul>
                </div>
            </div>
        </div>
    </section>
