<!-- Contribute Section -->
<section id="contribute" style="background-image: url('{{'/css/2016_style/img/home-bg2.jpg' | prepend: site.baseurl }}');
    background-repeat: repeat;">
    <div class="container">
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contribute</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{"/css/2016_style/img/icon-about.jpeg" | prepend: site.baseurl }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Call for contributions</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Five types of contributions are invited:
                                    <br>Full papers: research reports, up to 15 pages
                                    <br>Short papers: best practice sharing, up to 5 pages
                                    <br>Workshops: 1-2 pages summary 45/90 min interactive activity (computer labs and iPads are available)
                                    <br>Posters: 1-2 pages
                                    <br>Demos: 1-2 pages<br>
                                    </p>
                                    
                                <a href="{{"/files/cfp.pdf" | prepend: site.baseurl }}" class="btn btn-sm">Download CfP</a>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{"/css/2016_style/img/icon-agenda.jpeg" | prepend: site.baseurl }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Important dates</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Check out the important dates
                                    <ul>
                                        <li>Submission deadline for abstracts (500-800 words) and workshop proposals (1 page) through EasyChair: <b>March 31 (passed), 2018</b></li>
                                        <li>Submission deadline for full/short papers, posters, demos (): <b>May 14 (extended), 2018</b></li>
                                        <li>Submission deadline for camera-ready versions of full/short papers: <b>June 12, 2018</b></li>
                                        <li>Early-bird registration deadline: <b>July 15, 2018</b></li>
                                    </p>
                                </div>
                                
                            </div>
                        </li>
                        <!--li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{"/css/2016_style/img/icon-team.jpeg" | prepend: site.baseurl }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Workshops</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">TBA</p>
                                </div>
                                <a href="{{"/workshops" | prepend: site.baseurl }}" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li-->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{"/css/2016_style/img/icon-faq.jpeg" | prepend: site.baseurl }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Submit your contribution</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">We accept submission only through EasyChair system (click on the link below).</p>
                                    <p class="text-muted">If you do not plan to submit a short or full paper to research track, your abstract, poster or demo will be published in online proceedings by Tallinn University (ISBN). </p>
                                    <p class="text-muted">Use <a href="http://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines">Springer LNCS template</a> for abstracts, workshops, posters and demos. The Springer LNET template for full and short papers submitted to research track will be made available soon.</p>
                                </div>
                                <a href="https://easychair.org/conferences/?conf=icem2018">Submit your contribution</a>
                            </div>
                        </li>
                        <!--li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/icon-faq.jpeg" | prepend: site.baseurl }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Submit your abstract/paper</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">Submission through EasyChair conference management system will be opened in December</p>
                                </div>
                                <a href="/about" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li>
                        <!--li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../css/2016_style/img/booklet-icon.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Event Booklet</h4>
                                </div>
                                <div class="timeline-heading">
                                    <p class="text-muted">View or Download our event booklet</p>
                                </div>
                                <a href="/booklet" class="page-scroll btn btn-sm">Learn More</a>
                            </div>
                        </li-->
                    </ul>
                </div>
            </div>
    </div>
</section>
