<!-- Services Section -->
    <section id="intro" style="background-image: url('{{'/css/2016_style/img/home-bg1.jpg' | prepend: site.baseurl }}');
    background-repeat: repeat;">
        
        <div class="container">
            <div class="row container">
                <div class="text-container col-lg-6">
                    <h2 class="section-heading">Save the date!</h2>
                    <p>The next annual conference of <a href="http://www.icem.education/about-icem/about-icem/">ICEM</a> will take place in September 5-7, 2018 in <a href="http://www.tlu.ee/en">Tallinn University</a>. Tallinn is a capital city of <a href="https://e-estonia.com">Estonia</a>, a tiny EU member country on the coast of the Baltic Sea, close to Helsinki and St.Petersburg. Come to Tallinn and see how medieval old town lives in harmony with one of the world's most advanced digital societies and digitally innovative schools that are among the best in Europe according to OECD PISA study! 
                    </p>
                </div>
                <div class="pic-container col-lg-6">
                    <a href="http://www.tlu.ee/en">
                        <img src="{{"/css/2016_style/img/home-img1.jpg" | prepend: site.baseurl }}" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div> </div>
            <div class="container" style="margin-top:10%">
            <div class="row container">
                <div class="text-container col-lg-6">
                    <h2 class="section-heading">Digital Turn in Education</h2>
                    <p>&#8203;The full list of topics will be published soon in the Call for Proposals. An initial set of ICEM 2018 conference topics is:&nbsp;</p><ul>
                    <li><p>digital innovation and change management in schools</p></li>
                    <li><p>whole-school policies and best practice in BYOD</p></li>
                    <li><p>e-textbooks and the next generation digital publishing services in educational domain</p></li><li><p>e-assessment and e-exams</p></li>
                    <li><p>digital competences of students and teachers</p></li>
                    <li><p>digital learning ecosystems</p></li>
                    <li><p>learning design and learning analytics</p></li></ul> 
                    

                </div>
                <div class="pic-container col-lg-6">
                    <a href="http://www.tlu.ee/en">
                        <img src="{{"/css/2016_style/img/home-img2.png" | prepend: site.baseurl }}" alt="Picture" style="width:auto;max-width:100%">
                    </a>
                </div>
            </div>
        </div>
    </section>
