<!-- Programme Section -->
<section id="programme" style="background-image: url('{{'/css/2016_style/img/home-bg2.jpg' | prepend: site.baseurl }}');
    background-repeat: repeat;">
    <div class="container" style="text-align:center;">
        <h2>Conference program</h2>

<script type="text/javascript">
    document.write ('<body style="padding-bottom:0px;">')
</script>
<iframe src="https://drive.google.com/file/d/1INI6zFL4HXeWHf1I74JOLxMxhsUE36i0/view?usp=sharing" style="height:120vh;width:80vw;"></iframe>
</section>
