<!-- Programme Section -->
<section id="programme" style="background-image: url('{{'/css/2016_style/img/home-bg2.jpg' | prepend: site.baseurl }}');
    background-repeat: repeat;">
    <div class="container" style="text-align:center;">
        <h2>Programme</h2>
        <ul>
            <li>Workshops and school visits: Sept 5</li>
            <li>Main conference: opening and keynote address in 16:00 on Sept 5, two full conference days on Sept 6 - 7 </li>
            <li>Workshops in Estonian: Sept 8</li>
            <li>Social Programme: Sept 8</li>
        </ul>
    </div>
</section>
