<section id="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Register</h2>
                    <h3 class="section-subheading text-muted">Registration will open in 12 March 2018</h3>
                </div>
            </div>
            <div class="row">
                <h2 class="section-heading" style="text-align:center;">Registration</h2><br><br>
                <div class="col-lg-12">
<p>Registration fees: <br>
Early bird (before June 15): <br>
- PhD students (limited amount): 150 EUR <br>
- ICEM members: 200 EUR <br>
- regular participants: 250 EUR <br>
 <br>
After June 15: <br>
- ICEM memmbers 240 EUR <br>
- regular participants: 290 EUR <br>
 <br>
School visit: 20 EUR <br>
Conference dinner: 60 EUR <br>
Social programme on Saturday: 10 - 50 EUR <br>
</p>

                </div>
            </div>
        </div>
    </section>
