<div class="wsite-section-wrap">
	<div class="wsite-section wsite-body-section wsite-section-bg-color wsite-background-4 wsite-custom-background" style="background-color: #1c1c1c;background-image: none;is_customized: 1;">
		<div class="wsite-section-content">
        <div class="container">
			<div class="wsite-section-elements">
				<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:40.986717267552%; padding:0 15px;">
					
						

<h2 class="wsite-content-title" style="text-align:left;"><font color="#d5d5d5"><strong><font size="6">Save the date: <br>&#8203;September 5-7, 2018</font></strong></font></h2>


					
				</td>				<td class="wsite-multicol-col" style="width:59.013282732448%; padding:0 15px;">
					
						

<div class="wsite-spacer" style="height:28px;"></div>

<div class="paragraph" style="text-align:left;">The Call for Proposals will be published soon!<br><br></div>


					
				</td>			</tr>
		</tbody>
	</table>
</div></div></div>
			</div>
		</div>
      </div>

	</div>
</div>