    <!-- Venue Section -->
    <section id="venue">
        <div class="container" style="text-align:center;">
			<h2>Tallinn, Estonia</h2>
            <p>-ICEM 2018 will take place at Tallinn University. <a href="http://www.tlu.ee/en/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Tallinn University</a> is situated in the city centre of Tallinn, Estonia. The conference will be held in Astra (Narva mnt 29), the newest of the TLU campus buildings (take a virtual tour of the campus <a href="http://virtualtour.tlu.ee/" title="Opens external link in new window" target="_blank" class="external-link-new-window">here</a>). The Astra building is just a 10-minute walk from the medieval Old Town, a UNESCO World Heritage site and one of the most popular tourist attractions on the Baltic sea.
            </p>
            <p class="bodytext"><img src="css/2016_style/img/venue-astra.jpg" width="200" height="200" title="Tallinn University - Astra" alt="Tallinn University - Astra">&nbsp;<img src="css/2016_style/img/venue-JaakNilson.jpg" width="300" height="200" title="Copyright Jaak Nilson (Visit Estonia)" alt="Copyright Jaak Nilson (Visit Estonia)">
            </p>
            <h2>How to get to Tallinn </h2>
            <h3>By Air Travel </h3>
            <p><a href="http://www.tallinn-airport.ee/en/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Tallinn Airport</a> (<i>Tallinna Lennujaam</i>) is conveniently located at the edge of town. The city centre is only about 3 km away. A taxi ride from the Airport to the city centre (hotels or conference venue) should cost no more than 10 EUR. You should ask for the approximate price when entering the taxi and make sure the driver uses the taxi meter. It is also possible to take city bus no 2 (direction <i>Reisisadam</i>, bus stop #1, accessible from floor 0 of the airport) which will take you directly to the city centre (the stop is called <i>Laikmaa</i>). The cost is 2.00 EUR (cash only) for a single ride when bought from the driver.
            </p>
            <h3>By Ferry </h3>
            <p>Tallinn is well connected with Helsinki, Finland, via multiple ferries per day (travelling time roughly 2 hours) and with Stockholm, Sweden (departures every evening, traveling time 15 hours). All three Port of Tallinn passenger terminals (A, B, D - each serving different ferry companies) are close to Tallinn Old Town (a 10-20 minute walk) and Tallinn University. Terminal D can be reached on foot within 10 minutes from Tallinn University, other terminals are a 25-minute stroll away. More information can be found <a href="http://www.portoftallinn.com/passenger-terminals" title="Opens external link in new window" target="_blank" class="external-link-new-window">here</a>. Bus no 2 departs from the A, B and D terminals to the city centre and airport (direction <i>Mõigu</i>) approximately every 30 minutes from 7AM until midnight. The price from the bus is 2.00 EUR. A taxi from the terminal to the city centre costs about 5-10 EUR. 
            </p>
            <h3>By Bus </h3>
            <p>International bus lines (<a href="https://luxexpress.eu/en" title="Opens external link in new window" target="_blank" class="external-link-new-window">Lux Express</a> and <a href="https://ecolines.net/ee/en" title="Opens external link in new window" target="_blank" class="external-link-new-window">Ecolines</a>) offer bus connections between Tallinn and many European cities. International (and domestic) bus lines arrive at and depart from <a href="http://bussijaam.ee/en/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Tallinn Central Bus Station</a>. From the bus station to the city centre you can take a tram no 2 (direction <i>Kopli</i>) or no 4 (direction <i>Tondi</i>). The stop at the city centre for both trams is called <i>Hobujaama</i>. 
            </p>
            <h2>What to do in Tallinn &amp; Estonia</h2>
            <p><a href="https://www.visittallinn.ee/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Visit Tallinn official website</a> 
            </p>
            <p class="bodytext"><a href="http://www.visitestonia.com/en/" title="Opens external link in new window" target="_blank" class="external-link-new-window">Visit Estonia official website</a></p>
	    
		<h2>Hotels</h2>
		<p>To accommodate conference participants, a number of rooms have been reserved at hotels from among which every participant should find a suitable option. Taxes and breakfast are included in the room rate.Given the fact that the number of rooms available in individual hotels is limited, the accommodation will be allocated on a first-come, first-served basis.
When making reservations, please remember to add booking reference code in order to avail of the special price offered by the hotels. Please note that prices might be higher due to a great demand.</p> 


		<h3>Park Inn by Radisson Central Tallinn</h3>
		<p> Address: Narva mnt 7C, 10117 Tallinn</p>		
		<p>Park Inn Central is ideally located right between Tallinn University and Old Town, both are within 7 min walking distance from the hotel. The hotel is ten minutes on foot from the Port of Tallinn and 3 km from airport. See also: <a href="http://www.parkinn.com/hotel-centraltallinn">www.parkinn.com/hotel-centraltallinn</a>
		<p>Special ICEM rate: 95 euros/night/single and 105 euros/night/double (Rates are inclusive of VAT, buffet breakfast, WiFi).</p>
		<p>For booking, please use the <a href="http://www.parkinn.com/booking-entrance?language=en&sitaCode=TLLPR&arrival=05/09/2018&departure=08/09/2018&paccode=ICEM18">this link</a>.</p>
		<p>To make a reservation via e-mail, please send a letter to   Estonia.sales@rezidorparkinn.com. Do not forget to use the password ICEM2018.</p>

		<h3>Tallink City Hotel</h3>
		<p>Address: A.Laikmaa 5, Tallinn, Estonia</p>
		<p>Located in the heart of Tallinn, in close proximity to shopping centres and within just a few minutes’ walk from the Old Town (10 min walk to University). See also: <a href="http://www.tallinkhotels.com/tallink-city-hotel">www.tallinkhotels.com/tallink-city-hotel</a>
		<p>Special ICEM rate: 124 euros/night/single and double (Rates are inclusive of VAT, buffet breakfast, WiFi).</p>
		<p>For booking, please contact hotelbooking@tallink.ee. Do not forget to use the password ICEM2018.</p>

		<h3>Tallink Express Hotel</h3>
		<p>Address: Sadama 9, Tallinn, Estonia</p>
		<p>Tallink Express Hotel is located at the passenger harbour, only 10 minute walk from the Old Town and 15 minute walk from the University. See also: <a href="https://www.tallinkhotels.com/tallink-express-hotel/">www.tallinkhotels.com/tallink-express-hotel</a>
		<p>Special ICEM rate: 79 euros/night/single and double (Rates are inclusive of VAT, buffet breakfast, WiFi).</p>
		<p>For booking, please contact hotelbooking@tallink.ee. Do not forget to use the password ICEM2018.</p>
		
        </div> </section>
